.sidebar__mainContent{
    background-color: $darkgrey;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
    
}

.sidebar__navbar{
    display: flex;
    justify-content: space-between;
}

.sidebar__navbar h3{
    font-weight: lighter;
}

.sidebar__newEntry{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 100%;

    transition: color .5s ease;

    &:hover{
        color: darken($color: #000000, $amount: 20);
    }

}